*.dSYM
.DS_Store
*.dylib
*.pyc
*.bag
*.pcd
*.zip
CMAKE_BUILD/
build/
build_*/
bin/
lib/
lib64/
obj/
out/
.CMAKE_BUILD
CMakeFiles
CMakeFiles/*
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
.cmake 
*.dir/
__pycache__/
Debug/
Release/
*.log
*.tlog/
*.cmake
.vs/
.sln
*.vcxproj*
